<link href="../modules/addons/solusvm_nat/static/css/jquery-confirm.css" rel="stylesheet" />

<nav class="navbar navbar-default">
    <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SolusVM NAT管理</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=solusvm_nat&page=dashboard" data-page="dashboard">首页</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=solusvm_nat&page=port_management" data-page="port_management">端口管理</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=solusvm_nat&page=node_management" data-page="node_management">节点管理</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=solusvm_nat&page=setting" data-page="setting">设置</a></li>
                <li class=""><a href="javascript:void(0)" data-href="addonmodules.php?module=solusvm_nat&page=license" data-page="license">授权</a></li>
                <li class=""><a href="https://docs.weloveidc.com/article-categories/solusvm-nat%E6%8F%92%E4%BB%B6" target="_blank">帮助中心 <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
              </ul>
            </div>
    </div>
</nav>


<script type="text/javascript">
    $("#contentarea h1:first").remove();
</script>