<div class="node-body">
    <div class="loading">
        <h1 style="text-align:center;color: #8f8f8f;font-weight: 500;font-size: 48px">
                <i class="fa fa-refresh fa-spin"></i> 请稍后 , 正在加载数据
        </h1>
    </div>
    <div class="node row" style="display:none">
        <div class="nonode alert alert-warning" role="alert" style="display:none">
            尚未添加节点 , <a href="javascript:void(0)" class="alert-link" onclick="update_node()">点击此处与SolusVM同步数据</a>
        </div>
        <div class="nodelist" style="display:none">
            <div class="btn-c" style="float: right;">
                <a href="javascript:update_node()" class="btn btn-default"><i class="fa fa-refresh"></i> 刷新节点</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>节点ID</th>
                        <th>节点名称</th>
                        <th>节点架构</th>
                        <th>启用状态</th>
                        <th>NAT 公网IP</th>
                        <th>NAT CNAME</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
var fqdn_mather = /^(?!:\/\/)(?!.{256,})(([a-z0-9][a-z0-9_-]*?)|([a-z0-9][a-z0-9_-]*?\.)+?[a-z]{2,6}?)$/i;
var edit_cname = function(obj){
    var node = $(obj).parents("tr");
    var nodeid = node.data("id");
    $.confirm({
        title: '修改CNAME',
        content: '' +
        '<form action="" class="formName">' +
        '<div class="form-group">' +
        '<label>修改节点 '+ node.find("td:eq(1)").html() + ' CNAME</label>' +
        '<input type="text" placeholder="输入指向的CNAME" class="cname form-control" value="'+ node.find("td:eq(5)").html() + '" required />' +
        '</div>' +
        '</form>',
        buttons: {
            formSubmit: {
                text: '提交',
                btnClass: 'btn-blue',
                action: function () {
                    var cname = this.$content.find('.cname').val();
                    if(!cname || !fqdn_mather.test(cname)){
                        $.alert('请提供有效的CNAME');
                        return false;
                    }


                    $.confirm({
                        content: function () {
                            var self = this;
                            return $.ajax({
                                url: 'addonmodules.php?module=solusvm_nat&ajax=true&action=update_node_cname&nodeid=' + nodeid + '&cname=' + cname,
                                dataType: 'json',
                            }).done(function (response) {
                                if (response.result == "success"){
                                    self.setType('green')
                                    self.setTitle('更新完成');
                                    self.setContent('CNAME 已更新');
                                    node.find("td:eq(5)").html(cname)
                                } else {
                                    self.setType('red')
                                    self.setTitle('错误');
                                    self.setContent(response.error);
                                }

                            }).fail(function(){
                                self.setType('red')
                                self.setTitle('错误');
                                self.setContent('与服务器通讯时出现错误, 请重试.');
                            });
                        }
                    });
                }
            },
            cancel: {
                text: '取消',
            }
        },
        onContentReady: function () {
            var jc = this;
            this.$content.find('form').on('submit', function (e) {
                e.preventDefault();
                jc.$$formSubmit.trigger('click');
            });
        }
    });
}

var load_node = function(){
    $(".loading").show();
    $(".node.row").hide();

    $.ajax({
        url: "addonmodules.php?module=solusvm_nat&ajax=true&action=get_node",
        dateType: "json"
    }).done(function(response){
        $(".loading").hide();
        $(".node.row").show();
        if (response.result == "success"){
            if (response.node.length == 0){
                $(".node .nonode").show();
            } else {
                $(".node .nodelist").show();
                nodes = response.node;
                for (node in nodes){
                    if ($("tr[data-productgroup='" + nodes[node].groupname + "'").length == 0){
                        $(".nodelist table tbody").append('<tr data-productgroup="' + nodes[node].groupname + '"><td colspan="8" style="width: 96%; background-color:#f3f3f3;"><div class="prodGroup" align="left">&nbsp;&nbsp;<strong>节点组:' + nodes[node].groupname + '</strong><span></span></div></td></tr>');
                    }
                    html = '<tr data-id="' + nodes[node].id + '"><td>' + nodes[node].nodeid + '</td><td>' + nodes[node].name + '</td><td>' + nodes[node].type + '</td>';
                    if (nodes[node].enable){
                        html += '<td><span class="label label-success">已启用</span>';
                    } else {
                        html += '<td><span class="label label-warning">未启用</span>';
                    }

                    if (nodes[node].solusvm_exists){
                        html += ' <span class="label label-success">存在于SolusVM</span>';
                    } else {
                        html += ' <span class="label label-danger">不存在于SolusVM</span>';
                    }
                    
                    html += '</td>';

                    html += '<td>' + nodes[node].interface_ip + '</td>';
                    html += '<td>' + nodes[node].cname + '</td>';

                    if (nodes[node].enable){
                        html += '<td><a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="edit_cname(this)">修改CNAME</a></td>';
                    } else {
                        html += '<td><a class="btn btn-primary btn-xs" href="https://docs.weloveidc.com/article-categories/%E5%AE%89%E8%A3%85%E4%B8%8E%E6%9B%B4%E6%96%B0-solusvm-nat%E6%8F%92%E4%BB%B6" target="_blank">安装NAT被控</a></td>';
                    }

                    html += '</tr>';
                    $("tr[data-productgroup='" + nodes[node].groupname + "'").after(html);

                }
            }
        }
    }).fail(function(){
        $(".loading h1").html('<i class="fa fa-times" aria-hidden="true"></i> 加载数据错误, 请刷新重试');
    })
}

var update_node = function(){
    $.confirm({
        content: function () {
            var self = this;
            return $.ajax({
                url: 'addonmodules.php?module=solusvm_nat&ajax=true&action=update_node_remote',
                dataType: 'json',
            }).done(function (response) {
                if (response.result == "success"){
                    self.setType('green')
                    self.setTitle('更新完成');
                    self.setContent('更新详情如下<br/>正常节点: ' + response.data.exists + "<br/>已删除节点: " + response.data.delete + "<br/>新节点: " + response.data.new);
                    self.close()
                    $('a[data-page="node_management"]').click()
                } else {
                    self.setType('red')
                    self.setTitle('错误');
                    self.setContent(response.error);
                }

            }).fail(function(){
                self.setType('red')
                self.setTitle('错误');
                self.setContent('与服务器通讯时出现错误, 请重试.');
            });
        }
    });
}

$(".rpc_address").html((location.href).split("/").slice(0, -2).join("/") + "/modules/addons/solusvm_nat/rpc/node.php")

load_node()
</script>

<script type="text/javascript">
    var page = "node_management";
</script>